# This is a CODEOWNERS file.
# The users mentioned below will be the code owners for the app directory.
# Their approval is required for files touched in their directories.

/app/ @caseybramlett

# Codeowner for everything excluding the previous
* @isaiahharvi
