include:
  - deploy/compose.yml
  - sdk/compose.yml

services:
  mongo:
    container_name: mongo
    image: mongo:jammy
    restart: always
    expose:
      - 27017
    extra_hosts:
      - mongo:127.0.0.1
    ports:
      - 27017:27017
    healthcheck:
      test: echo "rs.status()" | mongosh --port 27017
      interval: 5s
      timeout: 30s
      start_period: 30s
      retries: 30
    volumes:
      - mongo-data:/data/db
      - ./deploy/mongo/init_replset.js:/docker-entrypoint-initdb.d/01-init_replset.js:ro
    command: ["--replSet", "rs0", "--bind_ip_all", "--port", "27017", "--quiet"]
    attach: false # wont monitor mongo logs

  mongo-express:
    container_name: mongo-express
    image: mongo-express:latest
    restart: always
    ports:
      - 8081:8081
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8081"]
      interval: 30s
      timeout: 5s
      retries: 5
      start_period: 15s
    depends_on:
      mongo:
        condition: service_healthy
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://mongo:27017
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: pass
      ME_CONFIG_MONGODB_SERVER: mongo

  webserver:
    container_name: webserver
    build:
      context: .
      dockerfile: deploy/webserver/Dockerfile
    network_mode: host
    ports:
      - "8000:8000" # server
      - "5173:5173" # client
    depends_on:
      mongo:
        condition: service_healthy
    environment:
      WEBSERVER_MONGO_URL: mongodb://root:example@mongo:27017/
    profiles:
      - gui
      - webserver

volumes:
  mongo-data:
    name: mongo-data

networks:
  default:
    name: nids-components
