@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 262 18% 95%;
    --foreground: 262 5% 4%;
    --card: 262 18% 90%;
    --card-foreground: 262 5% 10%;
    --popover: 262 18% 95%;
    --popover-foreground: 262 95% 4%;
    --primary: 262 71% 46%;
    --primary-foreground: 0 0% 100%;
    --secondary: 262 18% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 224 18% 85%;
    --muted-foreground: 262 5% 35%;
    --accent: 224 18% 80%;
    --accent-foreground: 262 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 262 5% 90%;
    --border: 262 20% 50%;
    --input: 262 20% 18%;
    --ring: 262 71% 46%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 262 18% 5%;
    --foreground: 262 5% 90%;
    --card: 262 18% 4%;
    --card-foreground: 262 5% 90%;
    --popover: 262 18% 5%;
    --popover-foreground: 262 5% 90%;
    --primary: 262 71% 46%;
    --primary-foreground: 0 0% 100%;
    --secondary: 262 18% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 224 18% 15%;
    --muted-foreground: 262 5% 60%;
    --accent: 224 18% 15%;
    --accent-foreground: 262 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 262 5% 90%;
    --border: 262 20% 18%;
    --input: 262 20% 18%;
    --ring: 262 71% 46%;
    --radius: 0.5rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
