pip-tools
numpy
lightning
torch
torchvision
matplotlib
icecream
pytest
pytest-ordering
click
dvc
dvclive>=3
scikit-learn
pandas
grpcio
grpcio-tools
docker
pymongo
wandb
ruff
dpkt
pypcap
textual
isort
imbalanced-learn
# git+https://github.com/praetoriannero/nfstream.git
