--extra-index-url https://download.pytorch.org/whl/cu124

pip-tools
numpy<2
torch
lightning
matplotlib
icecream
pytest
click
dvc
dvclive>=3
scikit-learn
torchvision
black
pandas
grpcio
grpcio-tools
docker
pymongo
