--extra-index-url https://download.pytorch.org/whl/cu124

pip-tools
numpy<2
lightning
torch
torchvision
matplotlib
icecream
pytest
pytest-ordering
click
dvc
dvclive>=3
scikit-learn
pandas
grpcio
grpcio-tools
docker
pymongo
wandb
nfstream
ruff
dpkt
pypcap
textual
