name: Pytest

on:
  pull_request:
    branches: [ "main" ]
    paths:
      - 'src/**'
      - '!src/app/**'
      - 'tests/**'

permissions:
  contents: read

jobs:
  pytest:
    runs-on: ubuntu-latest
    env:
      PYTHONPATH: ${{ github.workspace }}/src
      WANDB_API_KEY: ${{ secrets.WANDB_API_KEY }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.11
      uses: actions/setup-python@v3
      with:
        python-version: "3.11"
    - name: Verify Environment
      run: |
        sudo apt-get install -y curl wget libpcap-dev build-essential
        git lfs install
        git lfs pull
        echo $PWD
        echo "PYTHONPATH is: $PYTHONPATH"
    - name: Pip Cache
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements-cpu.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Install Python Packages
      # in the future, we can make a dedicated ci-requirements file
      run: |
        pip install uv
        uv install --system --no-cache-dir -r .devcontainer/features/uv/requirements-cpu.txt -e .

    - name: Run pytest
      run: pytest -sv

    - name: Lint
      run: ruff check .
